body {
  background: url('https://media.giphy.com/media/1kwH4pweyDm00/source.gif') !important;

  /*background-image:url('/icons/background.GIF') !important; background-repeat:repeat !important;*/
  /*cursor: url('/icons/mouse.png'), auto;*/
}

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
